<div class="container-profiles">
<h1> Child's profile </h1>
<div class="card-all-profiles">
<div class="card-info">
<h4 id ="info">First name: <span id="userinput"><%= @child.first_name %></span></h4>
<h4 id ="info">Last name:<span id="userinput"> <%= @child.last_name %></span></h4>
<h4 id ="info">Gender:<span id="userinput"> <%= @child.gender %></span></h4>
<h4 id ="info">Date of birth:<span id="userinput"> <%= @child.date_of_birth %></span></h4>
<div style="margin-bottom: 20px;"></div>
<h4 id ="info">Type of cancer:<span id="userinput"> <%= @child.type_of_cancer %></span></h4>
<h4 id ="info">Stage of cancer: <span id="userinput"><%= @child.stage_of_cancer %></span></h4>
<h4 id ="info">First time patient: <span id="userinput"><%= @child.first_time_patient %></span></h4>
<h4 id ="info">Date treatment begin: <span id="userinput"><%= @child.date_treatment_begin %></span></h4>
<h4 id ="info">Hospital name: <span id="userinput"><%= @child.hospital_name %></span></h4>
<h4 id ="info">Doctor name:<span id="userinput"> <%= @child.doctor_name %></span></h4>
<h4 id ="info">School:<span id="userinput"> <%= @child.school %></span></h4>
<h4 id ="info">Biggest dream:<span id="userinput"> <%= @child.biggest_dream%></span></h4>
<h4 id ="info">Medications:<span id="userinput"> <%= @child.medications %></span></h4>
</div>
</div>

<div class="card-links-profiles-edit">
  <%= link_to "Edit", edit_parent_child_path(current_user.parent, @child) %> | <%= link_to "Go to parent's profile", parent_path(current_user.parent, @child) %>
  </div>

<%= link_to parent_dashboard_path(current_user.parent, @child) do %>
    <button id="btn-show" class="home"><strong>Submit</strong></button>
    <%end %>

<div style="height: 50px;">
</div>
</div>


