<div class="wrapper-card-incident">
  <div class="container-card">

   <h1>All your <strong> Medications</strong></h1>
    <div class="searchbb">
     <%= form_with url: parent_incidents_path(@parent), method: :get, local: true do |form| %>
     <%= form.text_field :query, placeholder: "Search for Medication" %>
     <%= form.submit 'Search', id:"buttonsearch" %>
     <% end %>
   </div>
   <div class="row">

    <% @incidents.each do |incident| %>
    <div class="col-xs-12 col-sm-4">

      <div class="card">
        <%= link_to parent_incident_path(@parent, incident), class: "linkcss" do%>
        <i class="fas fa-search-plus"></i> 
        <% end %>

        <div class="card-category"> <%= incident.medication_name %> </div>
        <div class="card-description">
          <% incident.side_effect_incidents.each do |side_effect_incident| %>
          <p><i class="fas fa-bolt"></i> <%= side_effect_incident.side_effect.name%> </p>
          <% end %>
        </div>
        <p style='position:absolute; bottom: 5px; left: 10px;'><i class="fas fa-calendar-alt"></i> <%= incident.date_of_incident %> </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>    
