
<div class="container-profiles">
<h1>Details</h1>
  <div class="card-all-profiles">
    <div class="card-info">
      <h4>Medication: <%= @incident.medication_name %></h4>
      <h4>Date Medication received: <%= @incident.date_medication_received %></h4>
      <h4>Dose: <%= @incident.dose %></h4>
      <h4>Date of incicident: <%= @incident.date_of_incident %></h4>
      <h4>Period: <%= @incident.period %></h4>
      <% @incident.side_effect_incidents.each do |side_effect_incident| %>
      <h4>Side Effect </h4><li><%= "#{side_effect_incident.side_effect.name}: #{side_effect_incident.side_effect.metric}"%></li>
      <!-- <h4>Side Effect Metric:</h4> <li><%= side_effect_incident.side_effect.metric %></li> -->
        <% end %>
      <h4>Description: <%= @incident.description%></h4>
    </div>
  </div>
  <div class="card-links-profiles-edit">
    <%= link_to "edit", edit_parent_incident_path(current_user.parent, @incident) %> | <%= link_to "Delete", parent_incident_path(current_user.parent, @incident), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

<%= link_to parent_dashboard_path(current_user.parent) do %>
    <button class="home"><strong>Back to dashboard</strong></button>
    <%end %>
<div style="height: 200px;">
</div>
	</div>
