<div class="banner">
  <div class="cardlanding">
<h1> Welcome to The Lucho App</h1>
<h4 style="color: white;text-shadow: none;font-style: italic;">Help your kid with the fight of his life!</h4>
<!-- <h2>Be in control, for your happy and healthy child </h2> -->


<% if user_signed_in? %>

<%= link_to parent_dashboard_path(current_user.parent) do %>
    <button class="home">Let's Start</button>
    <%end %>
    <% else %>
    <%= link_to user_session_path do%>
    <button class="home">Discover</button>
    <%end %>

  <% end %>
  </div>
</div>
<section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title">Key Features</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item">
              <div class="icon">
                <div><%= image_tag 'calendar.png', :id => "imag" %></div>
              </div>
              <div class="services-content">
                <h3>Calendar</h3>
                <p>A calendar that allows you to quickly and effectively add information about the treatment and its results. You will receive alerts and you will be able to add notes, with the Lucho app you will not have to think what you have forgotten, we do it for you</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item" >
              <div class="icon">
                <div><%= image_tag 'b.png', :id => "imag" %></div>
              </div>
              <div class="services-content">
                <h3>Monitoring</h3>
                <p>You will be able to monitor your child's pain levels, how he / she reacts to each stage of the treatment and we will help identify the most critical moments and give you recommendations on how to relieve them</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item" >
              <div class="icon">
                <div><%= image_tag 'c.png', :id => "imag" %></div>
              </div>
              <div class="services-content">
                <h3>Sharing</h3>
                <p>Because you are not alone, you can share the information with your doctor, your partner or the person accompanying you throughout this stage, but you can also be part of the community where you will exchange information, advice and experience</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
