<div class="wrapper-dashboard">
<h1>Dashboard</h1>
  <div class=" center-dashboard">
    <div class="grid">
      <div class="block one ipad iphone">
        <div class="card-content">
          <div><%= image_tag 'add.svg', :class => "image" %></div>
          <h2>+ Data</h2>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </div>
      </div>
      <div class="block two ipad iphone">
        <div class="card-content">
          <div><%= image_tag 'hist.svg', :class => "image" %></div>
          <h2>Historical Data</h2>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </div>
      </div>
      <div class="block three ipad iphone">
        <div class="card-content">
          <div><%= image_tag '', :class => "image" %></div>
          <h2>Forum?</h2>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </div>
      </div>
      <%= link_to parent_calendar_path(@parent) do %>
      <div class="block four ipad iphone">
        <div class="card-content">
          <div><%= image_tag 'calendar.svg', :class => "image" %></div>
          <h2>Calender</h2>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </div>
      </div>
      <% end %>
  </div>
</div>

