<div class="wrapper-dashboard">
<h1><strong>Dashboard</strong></h1>
  <div class=" center-dashboard">
    <div class="grid">
      <%= link_to new_parent_incident_path(@parent) do %>
      <div class="block one ipad iphone">
        <div class="card-content">
          <div><%= image_tag 'add.svg', :class => "image" %></div>
          <h2>New Entry</h2>
          <p>What happened today? Make a log with the medication and the possible side effects.</p>
        </div>
      </div>
       <% end %>
      <%= link_to parent_incidents_path(@parent) do %>

      <div class="block two ipad iphone">
        <div class="card-content">
          <div><%= image_tag 'hist.svg', :class => "image" %></div>
          <h2>Journal</h2>
          <p>Here you can see all your data and incidents that happened in the past.</p>
        </div>
      </div>
      <% end %>
      <%= link_to "https://www.luchowithyou.com/forum" do %>

      <div class="block three ipad iphone">
        <div class="card-content">
          <div><%= image_tag 'chat.svg', :class => "image" %></div>
          <h2>Forum</h2>
          <p>Join and be an active member of Lucho and it's constantly growing community.</p>
        </div>
      </div>
      <% end %>
      <%= link_to parent_calendar_path(@parent) do %>

      <div class="block four ipad iphone">
        <div class="card-content">
          <div><%= image_tag 'calendar.svg', :class => "image" %></div>
          <h2>Calendar</h2>
          <p>Click her to see your Calendar and never forget for a doctor appointment or medication dose.</p>
        </div>
      </div>
      <% end %>
  </div>
</div>
</div>

