<div class="container-logsign">
<h2>Create your profile</h2>
<div class="card-all  ">
<div class="card-info">

 <%= simple_form_for(@parent) do |f| %>

   <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :gender, required: true, autofocus: true %>
    <%= f.input :date_of_birth, required: true, autofocus: true, wrapper_html: { class: 'datepicker'}%>
    <%= f.input :working_status, required: true, autofocus: true %>
    <%= f.input :civil_status, required: true, autofocus: true %>
    <%= f.input :hobbies, required: true, autofocus: true %>
    <%= f.input :share_info, required: true, autofocus: true %>
  </div>
</div>

<div class="form-actions">
    <%= f.button :submit, "Done", id: "btn"  %>
  </div>
  <% end %>
</div>

<div style = "height: 150px;">
  </div>
</div>

<!-- t.string "first_name"
    t.string "last_name"
    t.string "gender"
    t.date "date_of_birth"
    t.string "working_status"
    t.string "civil_status"
    t.text "hobbies"
    t.boolean "share_info"
    t.bigint "user_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false -->

