<div class="container-profiles">
<h1> Parent's profile </h1>
<div class="card-all-profiles">
<div class="card-info">
<h4>First name: <%= @child.first_name %></h4>
<h4>Last name: <%= @child.last_name %></h4>
<h4>Gender: <%= @child.gender %></h4>
<h4>Date of birth: <%= @child.date_of_birth %></h4>
<h4>Working status: <%= @child.working_status %></h4>
<h4>Civil status: <%= @child.civil_status %></h4>
<h4>Hobbies: <%= @child.first_time_patient %></h4>
<h4>Share info: <%= @child.stage_of_cancer %></h4>
</div>
</div>


</div>
<div style="height: 50px;">
</div>
</div>

