<div class="container-profiles">
<h1> Your profile </h1>
<div class="card-all-profiles">
<div class="card-info">
<p id ="info">First name:<span id="userinput"> <%= @parent.first_name %></span></p>
<p id ="info">Last name:<span id="userinput"> <%= @parent.last_name %></span></p>
<p id ="info">Gender:<span id="userinput"> <%= @parent.gender %></span></p>
<p id ="info">Date of birth:<span id="userinput"> <%= @parent.date_of_birth %></span></p>
<p id ="info">Working status:<span id="userinput"> <%= @parent.working_status %></span></p>
<p id ="info">Civil status:<span id="userinput"> <%= @parent.civil_status %></span></p>
<p id ="info">Hobbies:<span id="userinput"> <%= @parent.hobbies %></span></p>
<p id ="info">Share info:<span id="userinput"> <%= @parent.share_info %></span></p>
</div>
</div>
<div class="card-links-profiles-edit">
  <%= link_to "Edit", edit_parent_path(@parent) %> | <%= link_to "Go to your kids's profile", parent_child_path(@parent, @parent.child) %>
  </div>

<%= link_to parent_dashboard_path(current_user.parent) do %>
    <button id="btn-show" class="home"><strong>Done</strong></button>
    <%end %>



<div style="height: 200px;">
</div>
</div>

