<div class="container-profiles">
<h1> Parent's profile </h1>
<div class="card-all-profiles">
<div class="card-info">
<h4>First name: <%= @parent.first_name %></h4>
<h4>Last name: <%= @parent.last_name %></h4>
<h4>Gender: <%= @parent.gender %></h4>
<h4>Date of birth: <%= @parent.date_of_birth %></h4>
<h4>Working status: <%= @parent.working_status %></h4>
<h4>Civil status: <%= @parent.civil_status %></h4>
<h4>Hobbies: <%= @parent.hobbies %></h4>
<h4>Share info: <%= @parent.share_info %></h4>
</div>
</div>
<div class="card-links-profiles-edit">
  <%= link_to "Edit", edit_parent_path(@parent) %> | <%= link_to "Go to Child's profile", parent_child_path(@parent, @parent.child) %>
  </div>
  <form method="get" action="parent/dashboard">
    <button id="btn-dashboard" type="submit"><strong>Submit</strong></button>
</form>



<div style="height: 200px;">
</div>
</div>

